/*colors*/

:root{
    --light: #e4e6d9;
    --dark: #664232;
    --accent: #c7b96c;
    --accent2: #519176;
}

.none{
    display: none !important;
}

/*Header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-image: linear-gradient(45deg, var(--accent2), var(--accent));
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
}

a{
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
}

a:hover{
    text-shadow: 1px 2px 2px var(--dark);
}

#timer{
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}

/* Body */
body{
    Background-color: var(--light);
}
/* 
Start menu */
.start{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(45deg, var(--accent), var(--dark));
    padding: 30px;
    margin: 30px;
    border-radius: 10px; 
    color: var(--light);
    font-family: sans-serif;
}

.start p{
    padding-bottom: 30px;
}

button{
    background-color: var(--light);
    border: none;
    padding: 15px 30px;
    font-family: sans-serif;
    font-weight: bold;
    color: var(--dark);
    border-radius: 10px;
    font-size: 16px;
}

button:hover{
    box-shadow: 2px 3px 3px var(--dark);
}

/*Question Card*/
.card{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(45deg, var(--accent), var(--dark));
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

#question-title{
    color: var(--light);
}

.answer{
    margin: 10px;
}

/* Highscores */
.highscores{
    background-image: linear-gradient(45deg, var(--accent), var(--dark));
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
}

.highscores div{
    display: flex;
    Justify-content: space-evenly;
}

h2{
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 30px;
}

h3{
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    margin-bottom: 40px;
    display: flex;
}

input{
    width: 400px;
    padding: 10px;
    border-color: var(--dark);
    border: none;
    border-radius: 10px;
    background-color: var(--light);
    margin-right: 10px;
}

section div button{
    width: 400px;
}

.start-over {
    font-size: 25px;
    align-self: center;
}

#answer-announcer {
    text-decoration: none;
    color: var(--light);
    font-weight: bold;
    font-family: sans-serif;
    font-size: 25px;
    display: flex;
}

/* highscores html file */

.highscore-card{
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(45deg, var(--accent), var(--dark));
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    
}


.highscore-card p{
    font-family: sans-serif;
    color: var(--accent2);
    font-size: 20px;
    background-color: var(--light);
    padding: 10px 40px;
    border-radius: 10px;
    font-weight: bolder;
    border: solid 5px var(--dark);
    
}